tr{
    

    background: #835fad;
    border-radius: 4px;
    border: 0;
    max-height: 88px;
    max-width: 1140px;

    td{
        width: 340px;
        height: 88px;
        padding: 20px;
        justify-content:center;
        

        img{
            height: 48px;
            width: 48px;            
        }

        span{
            padding: 20px;
        }

        
    }


}