.page-home{

    

    header{
        background: #FFF;
        display: flex;
        justify-content: space-between;
        height: 64px;
        align-items: center;

        img{
            margin-left: 10px;
            max-height: 24px;
            max-width: 96px;
            margin-left: 25px;
        }
        
       .header-content{

            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-right: 20px;
            
        }
    }
    
    .content{
        h2{
            font-family: "PT Sans Capital", sans-serif;
            font-weight: 700;
            font-size: 32px;
            color: #555555;
            margin-left: 113px;
            margin-top: 40px;
        }

        p{
            font-family: "PT Sans Capital", sans-serif;
            font-weight: 700;
            font-size: 16px;
            color: #555555;
            margin-left: 113px;
            margin-top: 10px;
        }        
    }

    .search-input{
        display: flex;
        position: relative;
        

        input{
            border: 1px solid #E5E5E5;
            border-radius: 4px;
            margin-left: 113px;
            margin-top: 3px;
            padding-left: 7px;
            height: 32px;
            width: 295px;
        }

        button{
            height: 30px;
            width: 30px;
            margin-top: 3px;
            border: 0;
            background: #FFF;
            img{
                height: 26px;
                width: 26px;
            }
        }
    }

    table{
        margin-top: 100px;
        margin-left: 113px;
        margin-right: 113px;
        font-family: "PT Sans";
        font-weight: 400;
        border-spacing: 0 0.5rem;

        thead{
            tr{
                color: #8e8e8e;
                font-size: 14px;
                background: transparent;
            }
        }

        tbody{
            tr{
                background: #FFF;
                border-radius: 4px;
                border: 0;
                max-height: 88px;
                max-width: 1140px;
                transition: filter 0.2s;
                
                
                &:hover {
                    cursor: pointer;
                    filter: brightness(0.93);
                }
                
            
                td{
                    width: 340px;
                    height: 88px;
                    padding: 20px;
                    justify-content:center;
                    border: 0;
                    align-items: center;
                    flex: 1;
                    position: relative;
                    margin-top: 10px;
                    
                    
            
                    img{
                        height: 48px;
                        width: 48px;   
                        border-radius: 4px;         
                    }
            
                    span{
                        padding: 20px;
                    }  
                }
            }
        }
    }

    footer{
        height: 40px;
        background: #FFF;
    }
}