.details-content{
    display: flex;
    justify-content: stretch;
    margin: 100px;
    background: #aaa;
    border: 1px solid #aaa;
    border-radius: 10px;

    div{
        margin: 15px;
        align-items: stretch;
        

        > img{
            border-radius: 6px;
        }

        button{
            height: 45px;
            width: 90px;
            border-radius: 4px;
            border: none;
            margin-top: 25px;
            transition: filter 0.2s;
            

            &:hover{
                cursor: pointer;
                filter: brightness(0.93);
            }
        }
    }

    strong{
        font-size: 25px;
    }
}